{% extends 'base.html' %}

{% block head_styles %}
    <style>
        .thumbnail {
            border: 0;
            padding: 15px;
        }
        .thumbnail:hover {
            background: #f9f9f9;
        }
        a:hover {
            text-decoration: none;
        }
        i {
            font-size: 48px;
            margin-bottom: 0px;
        }
    </style>
{% endblock head_styles %}

{% block masthead %}
    <h1>Itinerary</h1>
    <span class="text-muted">
        Let's start by finding your flights
    </span> 
{% endblock masthead %}

{% block content %}
    <article class="container">

        <section class="row top-buffer text-center">
            
            <h3 class="inset hidden"></h3>
            
            <div class="col-md-offset-1 row">

                <div class="col-md-5">                        
                    <div class="thumbnail">
                        <a href="{{ url_for('search.reservation') }}" class="">
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <div class="caption">
                                <h3>Find Reservation</h3>
                                <p class="text-muted">
                                    We'll automatically locate your reservation and
                                    get the current price.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-5">                        
                    <div class="thumbnail">
                        <a href="{{ url_for('search.search') }}" class="">
                            <i class="glyphicon glyphicon-search"></i>
                            <div class="caption">
                                <h3>Manual Search</h3>
                                <p class="text-muted">
                                    You can manually search for your itinerary
                                    to get the current price.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            
        </section>

    </article>
{% endblock content %}