{% set first_segment = item.segment|first %}
{% set last_segment = item.segment|last %}
{% set price = item.prices.coach.lowest|float %}
<tr
        data-identifier="{{ item.identifier }}" 
        data-price="{{ price }}" 
        data-paid="{{ ticket.paid }}" 
        data-name="{{ ticket.name }}"
        data-code="{{ ticket.code }}"    
        data-expires="{{ item.expires }}"
        data-data='{{ item.encrypted }}'>
    <td><strong>${{ price|round|int }}</strong></td>
    <td class="airport-code">{{ first_segment.departure.airport_code }}</td>
    <td>{{ first_segment.departure.datetime.strftime('%I:%M %p').lstrip('0') }}</td>
    <td class="airport-code">{{ last_segment.arrival.airport_code }}</td>
    <td>{{ last_segment.arrival.datetime.strftime('%I:%M %p').lstrip('0') }}</td>
    <td>{{ item.duration }}</td>
    <td>{{ item.no_stops|no_stops }}</td>
    <td class="airport-code">{{ item.stops|join(', ') }}</td>
    <td>{{ item.flight_no|join(', ') }}</td>
</tr>