{% set outbound = flights.outbound %}
{% set inbound  = flights.inbound %}
{% set reservation = flights.reservation %}

{% if reservation %}
    {% set current_price = reservation.outbound.current.price|float + reservation.inbound.current.price|float %}
{% endif %}

{% macro build_table(items, label) %}
    {% set flight_date = items.0.segment.0.departure.datetime %}
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3>{{ label }} {{ flight_date.strftime('%A, %B %d') }}
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-hover table-selection sortable">
                <thead>
                    <tr>
                        <th class="hidden"></th>
                        <th class="hidden">Date</th>
                        <th data-defaultsort="disabled">From</th>
                        <th data-defaultsort="asc">Depart</th>
                        <th data-defaultsort="disabled">To</th>
                        <th>Arrive</th>
                        <th>Duration</th>
                        <th># Stops</th>
                        <th>Stops</th>
                        <th data-defaultsort="disabled">Flight #</th>
                        <th class="">Price</th>                                                                     
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% set first_segment = item.segment|first %}
                        {% set last_segment  = item.segment|last %}
                        <tr data-identifier="{{ item.identifier }}" data-price="{{ item.price }}" data-expires="{{ item.expires }}" data-data='{{ item.encrypted }}'>
                            <td class="hidden">{{ label }}</td>
                            <td class="hidden">{{ flight_date.strftime('%a, %b %d') }}</td>
                            <td class="airport-code">{{ first_segment.departure.airport_code }}</td>
                            <td data-dateformat="h:mm A">{{ first_segment.departure.datetime.strftime('%I:%M %p').lstrip('0') }}</td>
                            <td class="airport-code">{{ last_segment.arrival.airport_code }}</td>
                            <td data-dateformat="h:mm A">{{ last_segment.arrival.datetime.strftime('%I:%M %p').lstrip('0') }}</td>
                            <td data-value="{{ item.duration|duration }}">{{ item.duration }}</td>
                            <td data-value="{{ item.no_stops }}">{{ item.no_stops|no_stops }}</td>
                            <td class="airport-code">{{ item.stops|join(', ') }}</td>
                            <td>{{ item.flight_no|join(', ') }}</td>
                            <td class=""><strong>${{ item.price|int }}</strong></td>                      
                        </tr>
                    {% endfor %}
                </tbody>          
            </table>
        </div>
    </div>
{% endmacro %}


<article id="results" class="container top-buffer" data-paid="{{ reservation.paid }}" data-name="{{ reservation.name }}" data-code="{{ reservation.code }}" >
    <div class="text-center center-block loading-spinner {% if not reservation %}hidden{% endif %}">
        <i class="fa fa-spinner fa-spin text-muted" style="font-size:76px"></i>
    </div>
    <section class="{% if reservation %}invisible{% endif %}">
        {% if flights is defined %}
            {% if flights %}
                {# tabs #}
                <ul class="nav nav-pills nav-justified top-buffer">
                    <li class="active"><a href="#outbound" data-toggle="tab">
                        Select Outbound<i class="glyphicon glyphicon-ok-circle left-buffer hidden"></i>
                    </a></li>
                    <li class="text-center text-muted hidden-xs"><i class="glyphicon glyphicon-arrow-right"></i></li>
                    <li {% if not inbound %}class="disabled"{% endif %}><a href="#inbound" data-toggle="tab">
                        Select Inbound<i class="glyphicon glyphicon-ok-circle left-buffer hidden"></i>
                    </a></li>
                    <li class="text-center text-muted hidden-xs"><i class="glyphicon glyphicon-arrow-right"></i></li>
                    <li class="disabled" data-toggle="tooltip" data-placement="top" title=""><a href="#itinerary" data-toggle="tab">Your Itinerary</a></li>
                </ul>                
                {# tab content #}
                <div class="tab-content">
                    <div id="outbound" class="tab-pane fade in active">{{ build_table(outbound, 'Leave') }}</div>
                    {% if inbound %}
                    <div id="inbound" class="tab-pane fade">{{ build_table(inbound, 'Return') }}</div>
                    {% endif %}
                    <div class="tab-pane fade" id="itinerary">
                        <div class="panel panel-default" >
                            <div class="panel-heading text-center">
                                <h3>
                                    $<span class="total-price" data-toggle="tooltip" title="This is the current price for this itinerary."></span>
                                </h3>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead></thead>
                                    <tbody></tbody>          
                                </table>
                            </div>
                            <div class="panel-footer text-center">
                                {% if reservation %}
                                    {% set paid_more = reservation.paid|int > current_price %}
                                    <span class="">
                                        <small class="text-{{ 'danger' if paid_more else 'success' }}">
                                            {{ 'Uh oh' if paid_more else 'Congrats' }}, you paid <b>${{ reservation.paid }}</b>, which is
                                            ${{ '%0.2f' % (reservation.paid|float - current_price|float)|abs }}
                                            {{ 'more' if paid_more else 'less' }} than the current price.
                                        </small>
                                    </span>
                                {% endif %}
                            </div>                               
                        </div>
                        <div class="">                                      
                            <button class="btn btn-success watch-fare btn-block" data-loading-text="Submitting...">Watch fare</button>            
                        </div>                         
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger">No flights found.</div>
            {% endif %}
        {% endif %}
    </section>
</article>

