Authomatic==0.0.7
Flask==0.10.1
Flask-Cache==0.12
Flask-WTF==0.9.4
Flask-Script==0.6.7
Jinja2==2.7.2
flask-mongoengine==0.7.0
flask-debugtoolbar==0.9.0
gunicorn==18.0
humanize==0.5
itsdangerous==0.23
mongoengine==0.8.7
newrelic==2.16.0.12
premailer==1.13
pycrypto==2.6.1
pymongo==2.6.3
pyquery==1.2.8
pytz==2012j
requests==1.0.4