{% set url = request.args.get('url') %}
{% from "forms/macros.html" import render_field %}
<form class="form-horizontal" method="post" action=".{% if url %}?url={{ url }}{% endif %}" role="form">
    {{ form.csrf_token }}
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
    <span class="clearfix"><input type="submit" value="Login" class="btn btn-success btn-lg pull-right"></span>
</form>

<div class="top-buffer hidden">
    <a href="{{ url_for('users.register') }}">Register</a>
</div>