{% extends "base.html" %}

{% block head_styles %}
    <style>
        body {
            font-weight: 300;
        }
        #total_stats .thumbnail {
            border: 0 none;
            box-shadow: none;
            background: #f3f3f3;
            color: #444;
            font-size: 36px;
            line-height: 96px;
        }
        .itinerary-stats .thumbnail {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block masthead %}
    <h1>Profile</h1>
    <span class="text-muted"></span> 
{% endblock masthead %}

{% block content %}
    <div class="">
        
        {% if not user.verified %}
        <p class="bs-callout bs-callout-danger">
            Your email address has not been verified. 
            <a href="{{ url_for('users.activation_email') }}">Click here to resend the verification email</a>
        </p>
        {% endif %}

        <section id="total_stats" class="row top-buffer text-center">
            
            <h3 class="inset">Your stats</h3>

            <div class="row">        
                <div class="col-md-4 bottom-buffer">
                    <div class="thumbnail">
                        {{ watching|length|default(0) }}
                    </div>
                    Flights Watched
                    <div class="text-muted">
                        Total number of flights we've watched for you.
                    </div>
                </div>
                
                <div class="col-md-4 bottom-buffer">
                    <div class="thumbnail">
                        {{ claims|default(0) }}
                    </div>
                    Claims Made
                    <div class="text-muted">
                        Total number of refund claims you've made.
                    </div>
                </div>
                
                <div class="col-md-4 bottom-buffer">
                    <div class="thumbnail">
                        ${{ refunded|default(0)|abs }}
                    </div>
                    Amount Refunded
                    <div class="text-muted">
                        Total amount of money you've saved.
                    </div>
                </div>
            </div>

        </section>

        <section class="row top-buffer text-center">
            
            <h3 class="inset">Currently Watching</h3>

            {% for itinerary in itineraries %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            {{ itinerary.flights[0].depart.strftime('%b %d') }}
                            <i class="">-</i>
                            {{ itinerary.flights[-1].depart.strftime('%b %d') }}
                        </h3>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-hover table-selection sortable">
                            {% with show_date = 1 %}
                                {% include 'results/_tbody.html' %}       
                            {% endwith %}
                        </table>
                    </div>
                    <div class="panel-footer text-center">
                        {% if False %}
                            Currently ${{ itinerary.price }}. 
                            You paid ${{ '%0.2f' % itinerary.paid|float }} 
                            and have made {{ itinerary.claims|length|apnumber|no_for_zero }} claim{{ itinerary.claims|pluralize }}
                            for ${{ '%0.2f' % itinerary.refunded|default(0)|float }} in refunds.
                        {% endif  %}

                        <div class="row itinerary-stats">        
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    ${{ itinerary.price }}
                                </div>
                                <div class="text-muted">Current Price</div>
                            </div>

                            <div class="col-md-3">
                                <div class="thumbnail">
                                    ${{ '%0.2f' % itinerary.paid|float }} 
                                </div>
                                <div class="text-muted">Originally Paid</div>
                            </div>

                            <div class="col-md-3 hidden">
                                <div class="thumbnail">
                                    {{ itinerary.claims|length }}
                                </div>
                                <div class="text-muted">Number of Refunds</div>
                            </div>     

                            <div class="col-md-3">
                                <div class="thumbnail">
                                    ${{ '%0.2f' % itinerary.refunded|default(0)|float|abs }}
                                </div>
                                <div class="text-muted">Amount Refunded</div>
                            </div> 

                            <div class="col-md-3">
                                <div class="thumbnail">
                                    {% if itinerary.claims|length %}
                                        ${{ '%0.2f' % itinerary.claims[-1].price|default(0)|float|abs }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </div>
                                <div class="text-muted">Total Paid</div>
                            </div>                                                                                
                        </div>                        
                    </div>
                </div> 
            {% endfor %}

        </section>

    </div>

{% endblock %}