{% extends "base.html" %}

{% block head_styles %}
    <style>
        body {
            font-weight: 300;
        }
        #total_stats .thumbnail {
            border: 0 none;
            box-shadow: none;
            background: #f3f3f3;
            color: #444;
            font-size: 36px;
            line-height: 96px;
        }
        .itinerary-stats .thumbnail {
            margin-bottom: 5px;
        }
        #currently_watching .watching {
            margin-top: 10px;
        }
        .unwatch-fare {
            margin-bottom: 30px;
            
        }
    </style>
{% endblock %}

{% block masthead %}
    <h1>Profile</h1>
    <span class="text-muted"></span> 
{% endblock masthead %}

{% block content %}
    <section class="row top-buffer">
        <div class="top-buffer col-md-8 col-md-offset-1">
            {% from "forms/macros.html" import render_field %}
            <form class="form-horizontal" method="post" action="." role="form">
                {{ form.csrf_token }}
                {{ render_field(form.first_name, class="form-control", value=g.user.first_name) }}
                {{ render_field(form.last_name, class="form-control", value=g.user.last_name) }}
                {{ render_field(form.email, class="form-control", value=g.user.email, disabled=disabled) }}
                {{ render_field(form.password, class="form-control", label="Verify password") }}                
                {#{ render_field(form.accept_tos, class="form-control") }#}
                <div class="pull-right">
                    <input type="submit" value="Submit" class="btn btn-success btn-lg top-buffer">
                </div>
            </form>
        </div>
    </section>

{% endblock %}

{% block footer_scripts %}
    <script>
        $('.watching').on('click', '.unwatch-fare', function() {
            var $this = $(this),
                $parent = $this.closest('.watching');

            // get ids
            var id = [];
            $parent.find('.table-selection tr').each(function() {
                id.push($(this).data('identifier'));
            });

            $this.button('loading');

            $.post('/results/unwatch', {id: id.join('|')})
                .always(function(resp) {
                    $this.attr('disabled','disabled');
                })
                .done(function(response) {
                    $('<i />', { class: 'glyphicon glyphicon-ok left-buffer'})
                        .appendTo($this.text(toTitleCase(response.status)));
                })
                .fail(function(xhr, textStatus, errorThrown) {
                    console.log(xhr);
                    $('<i />', { class: 'glyphicon glyphicon-remove left-buffer'})
                        .appendTo($this.addClass('btn-danger')
                            .text(toTitleCase($.parseJSON(xhr.responseText).status)));
                });
        });
    </script>
{% endblock %}