<article id="search" class="">
    <section class="row top-buffer">
        <div class="col-md-10 col-md-offset-1">
            {#<h3 class="inset">Please enter your information</h3>#}
            {% if reservation %}
                <form id="ticket_lookup" class="top-buffer" action="{{ url_for('results.reservation') }}" method="post" role="form">
                    <fieldset class="well">
                        <div class="form-group form-inline top-buffer"> 
                            <label class="sr-only" for="name">Traveler's Last Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" type="input" name="name" placeholder="Traveler's Last Name" required value="{{ session.reservation.name }}">
                            </div>
                        </div>
                        <div class="form-group form-inline"> 
                            <label class="sr-only" for="code">Confirmation Code or E-ticket #</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-keyboard-o"></span></span>
                                <input class="form-control" type="input" name="code" placeholder="Confirmation Code or E-ticket #" required value="{{ session.reservation.code }}">
                            </div>
                        </div>
                    </fieldset>
                    <input type="submit" class="btn btn-default" value="Search" data-loading-text="Searching...">
                </form>
            {% else %}
                <form id="flight_lookup" class="top-buffer" action="{{ url_for('results.results') }}" method="post" role="form">
                    <fieldset class="well">

                        <div class="form-group form-inline"> 
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group input-group trip-type" data-toggle="buttons">
                                    <h5 class="text-muted">Trip Type</h5>
                                    <label class="btn btn-default active"><input type="radio" name="IsRoundTrip" value="true" checked="checked">Round trip</label>
                                    <label class="btn btn-default"><input type="radio" name="IsOneWay">One way</label>       
                                    <label class="btn btn-default"><input type="radio" name="IsMultiCity">Multi city</label>                                
                                </div> 
                                <div class="btn-group input-group hidden" data-toggle="buttons">
                                    <h5 class="text-muted">Stops</h5>
                                    <label class="btn btn-default active"><input type="radio" name="StopsMax" value="0">Nonstop</label>
                                    <label class="btn btn-default"><input type="radio" name="StopsMax" value="1">1</label>
                                    <label class="btn btn-default"><input type="radio" name="StopsMax" value="2">2+</label>
                                </div>  
                                <div class="btn-group input-group" data-toggle="buttons">
                                    <h5 class="text-muted">Seat Type</h5>
                                    <label class="btn btn-default active"><input type="radio" name="CabinType" value="coach" checked="checked">Economy/Coach</label>
                                    <label class="btn btn-default"><input type="radio" name="CabinType" value="first">Business/First</label>
                                </div>                               
                                <div class="form-group input-group" data-toggle="">
                                    <h5 class="text-muted">Number of Travelers (ages 2+)</h5>
                                    <select class="form-control" name="AdultCount">
                                        {% for i in range(1,8) %}
                                            <option>{{ i }} Adult{{ i|pluralize }}</option>
                                        {% endfor %}
                                    </select>
                                    {% if False %}
                                    <select class="form-control" name="ChildrenCount">
                                        {% for i in range(0,6) %}
                                            <option>{{ i }} Child{{ i|pluralize('','ren') }}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>                              
                            </div>                                                                                 
                        </div>                            

                        <div id="search_one" class="search-form top-buffer">
                            {% include 'search/_search_one.html' %}
                        </div>                                     

                        <div id="search_multi" class="search-form top-buffer hidden">
                            {% include 'search/_search_multi.html' %}
                        </div>

                    </fieldset>          
                    <input type="submit" class="btn btn-default search bottom-buffer" value="Search" data-loading-text="Searching...">
                </form>  
            {% endif %}
            <div class="progress progress-striped top-buffer active hidden">
                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
            </div>
        </div>
    </section>
</article>